@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }


/** Barra de Navegacion**/

.container{
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #header{
    width: 40%;
  }
 
}

#header{
  width: 110%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #f0f0f0;
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.05);
}
#header::after{
  content:'';
  display: table;
  clear: both;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 30px;
  padding-top: 10px;
  position: relative;
}

nav a{
  width: 70px;
  height: 18px;
  margin: 11px 20px 11px 0px;
  margin-bottom: 11px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.23px;
  text-align: center;
  color: #28292b;
  text-decoration: none;
}

nav a:hover{
  color: #6fcf97;
}

.selected{
  padding-bottom: .7rem;
 border-bottom: 3px solid #6fcf97;
}

nav li button{
  background-color: #6fcf97;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0,2);
  color: #ffffff;
  padding: 10px 25px;
  font-size: 20px;
  margin-left: 27rem;
  

}

nav li button:hover {
  cursor: pointer;
}
/** FIN BARRA DE NAVEGACION*/



/** Banner */
.banner{
    width: 938px;
    height: 441px;
    margin: 100px 416px 11px 186px;
    border-radius: 13px;
    box-shadow: inset 0 4px 11px 35px rgba(0, 0, 0, 0.25);
    background: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-size: cover;
}

/** Barra de partidos destacados **/
#dashboard{
    width: 334px;
    height: 662px;
    margin: 11px 95px 30px 900px;
    padding: 25px 3px 84px 0;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #e8e8e8;
    display: flex;
    position: relative;
}
h3{
    font-family: 'Montserrat', sans-serif;
}

.partidos-destacados h3 {
    width: 155px;
    height: 16px;
    margin: 0px 0px 0px 5px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.23px;
    text-align: center;
}

.partido{
  width: 320px;
  height: 95px;
  margin: 50px 25px 20px 10px;
  padding: 0 0 6px;
  border-radius: 9px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fefefe;
}

/**  Fin Partidos Destacados*/

/** Seccion Torneos destacados**/

.torneos_destacados_text h3{
    margin-left: 12rem;
}
.fila_torneos{
    display:flex;
    align-items: center;
    
}
.lista_torneos{
  width: 207px;
  height: 164px;
  padding: 13px 22px 11px 23px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  margin-left: 11.5rem;
  margin-right: -9rem;
}

#verpartidos{
    width: 180px;
    height: 32px;
    margin-top: 8.5rem;
    margin-left: .7rem;
    padding: 2px 36px 2px 34px;
    border-radius: 6px;
    border-color: #6fcf97 ;
    background-color: #6fcf97;
    font-family: Montserrat;
    color: white;
}
#verpartidos:hover{
    cursor: pointer;
}

.vermas{
  margin-top: 2.5rem;
  margin-left: 11rem;
  width: 838px;
  height: 65px;
  padding: 2px;
  border-radius: 25px;
  background-color: #eeecec;
  cursor: pointer;
}

.vermas h3{
  display: flex;
  align-items: center;
  justify-content:  center;
}


.rectangulofooter{
  width: 400px;
  height: 60px;
  margin: 111px 0 0;
  padding: 21px 1001px 21px 187px;
  background-color: #323131;

}



/** Fin Torneos Destacados*/

/** MODAL */
.modal {
  font-family: Montserrat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: 600px;
  max-height: 80vh;
  border-radius: 5px;
  background: white;
  
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.modal-header h4{
  margin-left: 13.5rem
}
.modal-header .close-modal {
  font-size: 1.5rem;
  background-color: white;
  border: white;
  cursor: pointer;
}

.field-wrap input{
  font-family: Montserrat;
  width: 278px;
  height: 48px;
  margin-bottom: .3rem;
  
  
}

.field-wrap-email input{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: .3px;
}

.field-wrap button{
  width: 285px;
  height: 48px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: .2px;
  background-color: #6fcf97;
  color: white;
  font-family: Montserrat;
  font-size: 18px;
}
.modal-content{
  align-items: center;
  display: flex;
  justify-content: center;
}


.modal p + p {
  margin-top: 1rem;
}

.modal-footer{
  align-items: center;
  display: flex;
  justify-content: center;
}

[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);;
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/** Fin Modal*/

